# Dependencies
/node_modules
/client/node_modules
/server/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/client/coverage

# Production
/build
/client/build
/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/client/.env
/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
/server/uploads/*
!/server/uploads/.gitkeep

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
Thumbs.db